parameters:
  - name: azureSubscription
    type: string
  - name: acrName
    type: string
  - name: repositoryName
    type: string
  - name: dockerComposeFile
    type: string
    default:  "**/docker-compose.yml"
    
steps:
  - task: AzureCLI@2
    displayName: 'Get ID for ${{ parameters.acrName }}'
    inputs:
      azureSubscription: '${{ parameters.azureSubscription }}'
      scriptType: 'pscore'
      scriptLocation: 'inlineScript'
      inlineScript: |
        az acr login --name ${{ parameters.acrName }}
        $acrId=az acr show -n '${{ parameters.acrName }}' --query "id" -o tsv
        echo "##vso[task.setvariable variable=acrId;isOutput=true]$acrId"

  - task: PowerShell@2
    displayName: 'Run Docker Compose Build'
    inputs:
      targetType: 'inline'
      script: |
        $dockerComposeFile = (Get-ChildItem -Path $(System.DefaultWorkingDirectory) -Recurse -Filter "docker-compose.yml").FullName
        echo $dockerComposeFile
        $repositoryName = '${{ parameters.repositoryName }}'
        $projectName = ($repositoryName -split '/')[1]       
        $buildCommand = "docker compose -f `"$dockerComposeFile`" -p `"$projectName`" build"
        Write-Host "Executing: $buildCommand"
        Invoke-Expression $buildCommand
      
      # Start the containers without forcing recreation
       $upCommand = "docker compose -f `"$dockerComposeFile`" -p `"$projectName`" up -d"
       Write-Host "Executing: $upCommand"
       Invoke-Expression $upCommand
